
<footer>
  <div class="row">
    <div class="col-1"></div>
      <div class="col">
        <br>
        <br>
        <div class="sm-Social">
          <img class="socialIcon rounded-circle" src="./../../../../assets/icons/share.png" border="5">
        </div>
        <div class="lg-md-Social">
          <a href="https://www.facebook.com/cjamanyanet/" target="_blank">
            <img src="./../../../../assets/icons/facebook.svg" border="5">
          </a>
          <a href="https://twitter.com/cjatresarroyos" target="_blank">
            <img src="./../../../../assets/icons/Twitter.svg" border="5">
          </a>
          <a href="https://www.linkedin.com/company/colegio-jes-s-adolescente" target="_blank">
            <img class="socialIconIn" src="./../../../../assets/icons/linkedIn.png" border="5">
          </a>
        </div>
      </div>
    <div class="col sazon">
      <br>
      <a href="https://goo.gl/maps/fGqoY9NDWRs" target="_blank">
        <p>Dirección: 25 de Mayo-101 esq Betolaza
          <br>Tres Arroyos, Bs As. -Argentina</p>
      </a>
      <p>Teléfono + 54 2983 426506</p>
    </div>
    <div class="col-1"></div>
  </div>
</footer>
