img{
    height: 42px;
    width: 42px;
    margin-right: 15px;
}
.sm-Social{
    .socialIcon {
        border-radius: 10px 10px 10px 10px;
      
    }
    .socialIcon:hover{
        box-shadow: 0 0 20px 1px rgba(0, 140, 186, 0.5);
    }
}
.socialIconIn {
  height: 42px;
  width: 50px;
  margin-right: 15px;
  border-radius: 0px 0px 0px 0px;
}
footer{
    background-color: #154e2e
}
.sazon{
    text-align: right;
    p{
        color: aliceblue
    }
    a:hover{
        text-decoration: underline aliceblue
    }
}
@media handheld, (max-width: 981px){
    .lg-md-Social{
        display: none;
    }
}
@media handheld, (min-width: 981px) {
  .sm-Social {
    display: none;
  }
}