<section class="container main">
  <section class="row">
    <article class="col-sm-6 nostoros">
      <h2 style="text-align: center">Nuestra institución</h2>
      <p class="text-justify">
        El Colegio Jesús Adolescente: de Tres Arroyos es una Institución Educativa de carácter privado, dirigida por la Congregación
        Religiosa Hijos de la Sagrada Familia, que se apoya en un gran equipo de educadores y en el aporte insuperable de los padres
        de familia y estudiantes.
      </p>
      <p class="text-justify">
        Desde el año 1931 el Colegio Jesús Adolescente se encuentra comprometido a brindar una enseñanza de primera calidad desde
        los primeros años de vida para educar personas cristianas, responsables y de bien, con las herramientas necesarias para
        enfrentar cualquier desafio.
      </p>
    </article>
    <section class="col-sm-6 video">
      <div class="embed-responsive embed-responsive-16by9 videoframe">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
    </section>
  </section>
  <section class="row">
    <section class="col-sm-6 video">
      <div class="embed-responsive embed-responsive-16by9 videoframe">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/93ASUImTedo?list=RDGMEMYH9CUrFO7CfLJpaD7UR85wVMDkeiKbqa02g"
  allowfullscreen></iframe>
      </div>
    </section>
    <article class="col-sm-6 hijosSFN">
      <h2 style="text-align: center">Los Hijos de la Sagrada Familia </h2>
      <p class="text-justify">
        Los Hijos de la Sagrada Familia, herederos espirituales de San José Manyanet, continuamos en el empeño de renovar la sociedad
        por medio de familias cristianas conformadas al modelo de la de Nazaret. Esta es la meta de nuestra vida religiosa y apostólica:
        vivir el estilo de vida de Jesús, María y José en la experiencia personal y comunitaria para hacer «Un Nazaret en cada hogar»,
        según la inspiración del Padre Manyanet.
      </p>
    </article>
  </section>
  <figure class=" row justify-content-center">
    <img class="fundador " src="./../../../../../assets/img/cja/manyanet.jpg" alt="Fundador" width="20%" height="25%">
  </figure>
  <div class="row">
    <article class="fundadorText col-sm-12">
      <h2 style="text-align: center">San José Manyanet</h2>
      <p class="text-justify">
        Nuestro Fundador, San José Manyanet (1833-1901) siendo sacerdote diocesano en la Seu d´Urgell (Lérida-España) sintió la llamada
        de Dios para fundar una Congregación religiosa que, inspirada en los ejemplos de la Sagrada Familia de Nazaret, ofreciera
        a la sociedad el testimonio de la vida personal y comunitaria a favor de la familia y, a través de la educación católica
        e integral, de los niños y jóvenes. La convicción profunda, nacida de su experiencia pastoral, era y sigue siendo que
        la evangelización y transformación de la sociedad se realiza desde la santidad de la propia vida, en medio de la realidad
        del mundo, y desde la entrega generosa, especialmente a través de la labor educativa, a las familias, los niños y jóvenes.
        El Papa Juan Pablo II canonizó a José Manyanet el 16 de mayo de 2004.
      </p>
    </article>
  </div>
  
</section>
<section class="container main" style="text-align: center">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Trabaja con nosotros
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Trabaja en el CJA</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Requisitos</h5>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">
                <h6>Docentes</h6>
                <ol>
                  <li>Documento Nacional de Identidad (DNI).</li>
                  <li>Título docente habilitante.</li>
                  <li>CUIL.</li>
                  <li>Certificado de aptitud psicofísica.</li>
                  <li>Poseer disponibilidad de carga horaria.</li>
                  <li>Sólida formación en valores cristianos.</li>
                </ol>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <h6>Administrativos</h6>
                <ol>
                  <li>Documento Nacional de Identidad (DNI).</li>
                  <li>Título profesional.</li>
                  <li>CUIL.</li>
                  <li>Certificado de aptitud psicofísica.</li>
                  <li>Poseer disponibilidad de carga horaria.</li>
                  <li>Sólida formación en valores cristianos.</li>
                </ol>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <h6>Maestranza y servicios</h6>
                <ol>
                  <li>Documento Nacional de Identidad (DNI).</li>
                  <li>Título secundario.</li>
                  <li>CUIL.</li>
                  <li>Certificado de aptitud psicofísica.</li>
                  <li>Poseer disponibilidad de carga horaria.</li>
                  <li>Sólida formación en valores cristianos.</li>
                </ol>
              </a>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Planilla solicitud de empleo</button>
        </div>
      </div>
    </div>
  </div>
</section>
