$grayColor: #d2d2d2;
$greenCjaColor:#154e2e;
h2{
    color: $greenCjaColor;
}
.main{
    padding-top: 40px;
    padding-bottom: 3%;
    border-color: $grayColor;
    border: 1%;
    .bigDad{
        padding-left: 10px;
        padding-right: 10px;
    }

}

section{
    text-align: center;
    .row{
        margin-top: 1%;
        margin-bottom: 1%;
        .card{
            border-color: $greenCjaColor;
            img{
                width: 286px;
                height: 200px;
            }
        }
    }
    .pastoral, .viceDirector, .orientacion{
        .card{
            border-color: $grayColor
        }
    }
}
.card:hover{
    box-shadow: 0 0 20px 1px $greenCjaColor
}
