<section class="container main">
  <div class="row rector justify-content-center">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Director general y representante legal</h6>
            <p class="card-text">P. Alexander Díaz Guevara</p>
          </div>
      </div>
  </div>
  <section class="row pastoral">
    <div class="col-4">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Director de pastoral</h6>
              <p class="card-text">P. Héctor Francisco Cruz, SF</p>
            </div>
        </div>
    </div>
    <div  class="col-4"></div>
    <div  class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Pastoralista</h6>
              <p class="card-text">Hno. Walter Damián Distel, SF</p>
            </div>
        </div>
      </div>
  </section>
  <section class="row directors ">
      <div  class="col">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Director nivel inicial</h6>
                <p class="card-text">Marcela Reynolds</p>
              </div>
          </div>
      </div>
      <div  class="col">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Director nivel primario</h6>
                <p class="card-text">María Fernanda Sívori</p>
              </div>
          </div>
        </div>
        <div  class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Director nivel secundario</h6>
                  <p class="card-text">P. Héctor Francisco Cruz, SF</p>
                </div>
            </div>
        </div>
  </section>
  <section class="row viceDirector justify-content-md-center">
      <div  class="col-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Vicedirector nivel primario</h6>
                <p class="card-text">María Susana Fernández</p>
              </div>
          </div>
        </div>
        <div  class="col-4"></div>
        <div  class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Vicedirector nivel secundario</h6>
                  <p class="card-text">Prof. María Rita Garza</p>
                </div>
            </div>
        </div>
  </section>
  <section class="row secretary ">
      <div  class="col">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Secretaría general</h6>
                <p class="card-text">María Julia Massigoge</p>
              </div>
          </div>
        </div>
        <div  class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Secretaría inicial y primario</h6>
                  <p class="card-text">Marísa Ethel Alonso</p>
                </div>
            </div>
        </div>
        <div  class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Secretaría nivel secundario</h6>
                  <p class="card-text">Prof. Ángel Ignacio García Zurita</p>
                </div>
            </div>
        </div>
  </section>
  <section class="row orientacion justify-content-md-center">
    <h2>Equipo de orientación escolar</h2>
    <div class="row">
      <div  class="col-3">
          <div class="card" style="width: 13rem; height: 7rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Psicóloga</h6>
                <p class="card-text">Lic. Dina Benavente</p>
              </div>
          </div>
      </div>
      <div  class="col-3">
          <div class="card" style="width: 13rem; height: 7rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Psicopedagoga</h6>
                <p class="card-text">Lic. María Florencia Ambrosius</p>
              </div>
          </div>
      </div>
      <div  class="col-3">
          <div class="card" style="width: 13rem; height: 7rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Orientación Escolar</h6>
                <p class="card-text">Prof. María Cecilia Kristensen</p>
              </div>
          </div>
      </div>
      <div  class="col-3">
          <div class="card" style="width: 13rem; height: 7rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Psicopedagoga</h6>
                <p class="card-text">Lic. María Alejandra Damiani</p>
              </div>
          </div>
      </div>
    </div>
  </section>
    
</section>
