<app-about-us></app-about-us>
<section class="container main">
    <div class="card bigDad">
      <div class="row rector justify-content-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{jerarquia[0].director.titulo}}</h6>
            <p class="card-text">{{jerarquia[0].director.name}}</p>
          </div>
        </div>
      </div>
      <section class="row pastoral justify-content-center">
        <div class="card-deck" >
          <div class="card " style="width: 18rem;" *ngFor="let pastor of jerarquia[0].pastoral">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{pastor.titulo}}</h6>
              <p class="card-text">{{pastor.name}}</p>
            </div>
          </div>
        </div>
      </section>
      <section class="row directors justify-content-center ">
      <div class="card-deck">
          <div class="card" style="width: 18rem;" *ngFor="let director of jerarquia[0].directores">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{director.titulo}}</h6>
              <p class="card-text">{{director.name}}</p>
            </div>
          </div>
        </div>
      </section>
      <section class="row viceDirector justify-content-md-center">
        <div class="card-deck">
          <div class="card" style="width: 18rem;" *ngFor="let vice of jerarquia[0].vicedirectores">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{vice.titulo}}</h6>
              <p class="card-text">{{vice.name}}</p>
            </div>
          </div>
        </div>
      </section>
      <section class="row secretary justify-content-md-center">
      <div class="card-deck">
          <div class="card" style="width: 18rem;" *ngFor="let secretaria of jerarquia[0].secretary">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{secretaria.titulo}}</h6>
              <p class="card-text">{{secretaria.name}}</p>
            </div>
          </div>
        </div>
      </section>
      <section class="row orientacion justify-content-md-center">
        <h2>Equipo de orientación escolar</h2>
        <div class="row">
          <div class="card-deck">
            <div class="card" *ngFor="let orientado of jerarquia[0].orientacion" >
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{orientado.titulo}}</h6>
                <p class="card-text">{{orientado.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</section>
