<section class="container">
  <header>
    <img src="./../../../../assets/img/slider/ingresoCJA.jpg" class="img-fluid" alt="Responsive simage">
  </header>
  <article class="texto">
    <p>Le damos la bienvenida a la comunidad del Colegio Jesús Adolescente, y le agradecemos por pensar en nuestra institución para la educación de sus niños.</p>
    <p>
      Para conocer los requisitos de ingreso y cómo iniciar el proceso de admisión, puede visitar la sección correspondiente.
      Así mismo, puede ingresar para descargar las fichas de inscripción y para conocer
      los listados de admisión cuando estos se publiquen.
    </p>
  </article>
  <div class="collapse-fbutton">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#admit-process" aria-expanded="false" aria-controls="collapseExample">
      Requisitos y Proceso de Admisión
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ficha-inscripcion" aria-expanded="false" aria-controls="collapseExample">
      Ficha de Inscripción
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Listado de Admisión (mail)
    </button>
  </div>
  <div class="collapse" id="admit-process">
    <div class="card card-body">
      <h6>Proceso de Admisión</h6>
      <ul class="list-group">
          <li class="list-group-item list-group-item-success"><span class="bold">1) </span>Descargar la ficha de inscripción y completar A MANO.</li>
          <li class="list-group-item"><span class="bold">2) </span>Entregarla junto con la documentación solicitada en 
            sobre de papel madera en la Dirección del Nivel al cual piensa ingresar el año próximo, 
            a partir del 2 de octubre de 2018 de lunes a viernes, de 8:30 a 11:30 hs.</li>
          <li class="list-group-item list-group-item-success"><span class="bold">3) </span>Luego, esperar a ser llamados a entrevista por Directivos del Nivel y/o Equipo de Orientación Escolar.</li>
          <li class="list-group-item"><span class="bold">4) </span>En caso de existir la vacante, se les orientará sobre cómo sigue el proceso de admisión.</li>
      </ul>
    </div>
    <div class="requisitos">
      <div class="card bg-dark">
        <div class="row  justify-content-center">
          <section class="card">
            <div class="card-body">
              <h6>Requisitos Nivel Inicial</h6>
              <p>Documentación necesaria:</p>
              <ul class="list-group">
                <li>Fotocopia de DNI del alumno/a ingresante.</li>
                <li>Fotocopia de partida de nacimiento.</li>
                <li>Fotocopia de libreta sanitaria.</li>  
                <li>Fotocopia de fe de bautismo.</li>  
                <li>3 fotos 3x4 fondo blanco de frente.</li>  
                <li>Certificado bucodental.</li>  
                <li>Certificado de buena salud.</li>  
                <li>Certificado oftamológico.</li>  
                <li>Libre deuda para los alumnos <br> que provengan de colegios privados.</li>  
                <li>Fotocopia de DNI de padres de familia.</li>  
              </ul>
            </div>
          </section>
          <section class="card">
            <div class="card-body">
              <h6>Requisitos Nivel Primario (EPB)</h6>
              <p>Documentación necesaria:</p>
              <ul class="list-group">
                <li>Fotocopia de DNI del alumno/a ingresante.</li>
                <li>Fotocopia de partida de nacimiento.</li>
                <li>Fotocopia de libreta sanitaria.</li>  
                <li>Fotocopia de fe de bautismo.</li>  
                <li>3 fotos 3x4 fondo blanco de frente.</li>  
                <li>Certificado bucodental.</li>  
                <li>Certificado de buena salud.</li>  
                <li>Certificado oftamológico.</li>  
                <li>Libre deuda para los alumnos <br> que provengan de colegios privados.</li>  
                <li>Fotocopia de DNI de padres de familia.</li>  
              </ul>
            </div>
          </section>
          <section class="card ">
            <div class="card-body">
            <h6>Requisitos Nivel Primario (EPB)</h6>
            <p>Documentación necesaria:</p>
              <ul class="list-group">
                <li>Fotocopia de DNI del alumno/a ingresante.</li>
                <li>Fotocopia de partida de nacimiento.</li>
                <li>3 fotos 3x4 fondo blanco de frente.</li>  
                <li>Certificado bucodental.</li>  
                <li>Certificado de buena salud.</li>  
                <li>Certificado oftamológico.</li>  
                <li>Libre deuda para los alumnos <br> que provengan de colegios privados.</li>  
                <li>Certificado de analítico en trámite.</li>  
                <li>Certificado de 6º año EP para los ingresantes a 1º ESB.</li>  
                <li>Fotocopia de DNI de padres de familia.</li>  
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="ficha-inscripcion">
    <div class="card card-body">
      <h6>Fichas de inscripción</h6>
      <article class="texto">
        <p>
          Utilice en panel de Descargas para obtener la ficha de inscripción al nivel deseado.
        </p>
        <p>
          Revise los Requisitos y Proceso de Admisión para conocer más sobre como continuar con su inscripción.
        </p>
        <p>
          Si desea conocer más sobre la oferta que le brinda el Colegio Jesús Adolescente, visite nuestra Propuesta Educativa.
        </p>
      </article>
      <section class="button-download row">
        <div class="col">
          <button type="button" class="btn btn-success btn-block"><p><a href="../../../../assets/pdf/SOLICITUD_RESERVA_NUEVOS_2018.pdf" target="_blank" style="color: currentColor">download nivel inicial</a></p></button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-success btn-block"><p><a href="../../../../assets/pdf/SOLICITUD_RESERVA_NUEVOS_PRIMARIO_2018.pdf" target="_blank" style="color: currentColor">download nivel primario</a></p></button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-success btn-block"><p><a href="../../../../assets/pdf/SOLICITUD_RESERVA_NUEVOS_SECUNDARIO_2018.pdf" target="_blank" style="color: currentColor">download nivel secundario</a></p></button>
        </div>
      </section>
      <section class="download row">
        <div class="embed-responsive embed-responsive-16by9 col ss">
          <object class="embed-responsive-item sistem" data="../../../../assets/pdf/SOLICITUD_RESERVA_NUEVOS_2018.pdf" type="application/pdf" internalinstanceid="9" title="">
            <p>Your browser isn't supporting embedded pdf files. You can download the file
            <a href="../../../../assets/pdf/SOLICITUD_RESERVA_NUEVOS_2018.pdf">here</a>.</p>
          </object>
        </div>
        <div class="embed-responsive embed-responsive-16by9 col ss">
          <object class="embed-responsive-item sistem" data="../../../../assets/pdf/SOLICITUD_RESERVA_NUEVOS_PRIMARIO_2018.pdf" type="application/pdf" internalinstanceid="9" title="">
            <p>Your browser isn't supporting embedded pdf files. You can download the file
            <a href="../../../../assets/pdf/SOLICITUD_RESERVA_NUEVOS_PRIMARIO_2018.pdf">here</a>.</p>
          </object>
        </div>
        <div class="embed-responsive embed-responsive-16by9 col ss">
          <object class="embed-responsive-item sistem" data="../../../../assets/pdf/SOLICITUD_RESERVA_NUEVOS_SECUNDARIO_2018.pdf" type="application/pdf" internalinstanceid="9" title="">
            <p>Your browser isn't supporting embedded pdf files. You can download the file
            <a href="../../../../assets/pdf/SOLICITUD_RESERVA_NUEVOS_SECUNDARIO_2018.pdf">here</a>.</p>
          </object>
        </div>
      </section>
    </div>
  </div>
</section>
